<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="general__idioma">
        <button id="espanol" class="general__idioma__btn general__idioma__btn__active"> ESPAÑOL</button>
        <button id="ingles" class="general__idioma__btn"> INGLÉS</button>
    </div>

    <div class="espanol aparecer" id="text_esp"> Funciona en español</div>
    <div class="ingles desaparecer" id="text_ing"> Funciona en inglés</div>

    <style>
        .desaparecer {
            display: none;
        }

        .aparecer {
            display: flex;
        }
    </style>

    <script>
       
    </script>

</body>

</html>