<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" type="image/x-icon" href="/image/logoR.ico" />

    <link rel="stylesheet" href="/css/index.css">

    <title>Jaime Burbano</title>


</head>

<body>

    <section id="esp" class="">

        <article class="general">
            <div class="general__redes">
                <a href="https://www.linkedin.com/in/jaimedburbano/" target="_blank">LINKEDLIN</a>
                <a href="https://www.instagram.com/jaimeburbano/" target="_blank">INSTAGRAM</a>
                <a href="https://www.behance.net/jaime_burb0681" target="_blank" class="">BEHANCE</a>
            </div>

            <div class="general__idioma">
                <button  class="espanol general__idioma__btn general__idioma__btn__active"> ESPAÑOL</button>
                <button  class="ingles general__idioma__btn"> INGLÉS</button>
            </div>

            <div class="general__navegacion desaparecer" id="nav">
                <a class="general__navegacion__link general__navegacion__inicio" id="btn_nav_home" href="#home">
                    <div id="scrollButton" class="general__navegacion__link__nombre">INICIO</div>
                    <div class="general__navegacion__link__punto"></div>
                </a>

                <a class="general__navegacion__link general__navegacion__habilidades" id="btn_nav_skills" href="#skills">
                    <div class="general__navegacion__link__nombre"> HABILIDADES</div>
                    <div class="general__navegacion__link__punto"></div>
                </a>

                <a class="general__navegacion__link general__navegacion__portafolio" id="btn_nav_port" href="#portfolio">
                    <div class="general__navegacion__link__nombre">PORTAFOLIO</div>
                    <div class="general__navegacion__link__punto"></div>
                </a>

                <a class="general__navegacion__link Ngeneral__nvegacion__experiencia" id="btn_nav_exp" href="#exp">
                    <div class="general__navegacion__link__nombre">EXPERIENCIA</div>
                    <div class="general__navegacion__link__punto"></div>
                </a>

                <a class="general__navegacion__link general__navegacion__contacto" id="btn_nav_contact" href="#contact">
                    <div class="general__navegacion__link__nombre">CONTACTO</div>
                    <div class="general__navegacion__link__punto"></div>
                </a>

            </div>

            <div class="general__hamburguesa">
                <div class="general__hamburguesa__linea"></div>
                <div class="general__hamburguesa__linea"></div>
                <div class="general__hamburguesa__linea"></div>
            </div>

            <div class="general__menuRes">

                <div class="general__menuRes__titulo ">
                    <h1>MENÚ</h1>
                </div>

                <a href="#home" class="general__menuRes__link">INICIO</a>
                <a href="#skills" class="general__menuRes__link">HABILIDADES</a>
                <a href="#portfolio" class="general__menuRes__link">PORTAFOLIO</a>
                <a href="" class="general__menuRes__link">EXPERIENCIA</a>
                <a href="#contact" class="general__menuRes__link">CONTACTO</a>

                <div class="general__menuRes__logo">
                    <img src="image/logo.svg" alt="" srcset="">
                    <h1>JAIME BURBANO</h1>

                </div>
            </div>

        </article>


        <article id="home" class="home">
            <div class="home__menu">
                <a href="#home" class="home__menu__link">INICIO</a>
                <a href="#skills" class="home__menu__link">HABILIDADES</a>
                <a href="#portfolio" class="home__menu__link">PORTAFOLIO</a>
                <a href="#exp" class="home__menu__link">EXPERIENCIA</a>
                <a href="#contact" class="home__menu__link">CONTACTO</a>
            </div>

            <div class="home__about">
                <div class="home__about__logo" id="img_logo">
                    <img src="image/logo.svg" alt="" srcset="" class="home__about__logo__img">
                </div>
                <div class="home__about__text">
                    <h1 class="home__about__text__nombre"> JAIME</h1>
                    <h1 class="home__about__text__apellido"> BURBANO</h1>

                    <p class="home__about__text__about ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere nam, provident eius temporibus dicta
                        accusantium placeat dolorum accusamus doloremque, sit, laudantium odio. Laboriosam facere minus rem
                        delectus quis illum voluptatem.
                    </p>
                </div>


            </div>
        </article>


        <article id="skills" class="skills">
            <div class="skills__titulo ">
                <h1>HABILIDADES</h1>
            </div>
            <div class="skills__skills">
                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NOMBRE
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NOMBRE
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NOMBRE
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NOMBRE
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NOMBRE
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NOMBRE
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NOMBRE
                    </div>
                </div>
                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NOMBRE
                    </div>
                </div>
                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NOMBRE
                    </div>
                </div>
                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NOMBRE
                    </div>
                </div>

            </div>

        </article>

        <article id="portfolio" class="portfolio">
            <div class="portfolio__titulo ">
                <h1>PORTAFOLIO</h1>
            </div>

            <div class="portfolio__menu">
                <a href="" class="portfolio__menu__link portfolio__menu__link__activo">PROYECTOS</a>
                <a href="" class="portfolio__menu__link">ANIMACIÓN</a>
                <a href="" class="portfolio__menu__link">DESARROLLO FRONT</a>
                <a href="" class="portfolio__menu__link">DISEÑO UI - UX</a>
                <a href="" class="portfolio__menu__link">FOTOGRAFÍA</a>
                <a href="" class="portfolio__menu__link">MARCA</a>
            </div>

            <div class="portfolio__menuDos">
                <select>
                    <option value="PROYECTOS" selected>PROYECTOS</option>
                    <option value="ANIMACION">ANIMACIÓN</option>
                    <option value="DESARROLLO">DESARROLLO FRONT</option>
                    <option value="DISENO">DISEÑO UI</option>
                    <option value="FOTOGRAFIA">FOTOGRAFÍA</option>
                    <option value="MARCA">MARCA</option>
                </select>
            </div>

            <div class="portfolio__projects">
                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        TODAY
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        PREX
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        HACIENDA
                        <br /> EL SAMÁN
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        BANNER
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        ARTI
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        COMPARTABLE
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        HACIENDA CAÑASGORDAS
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        MOTOBOX
                    </div>
                </a>

            </div>
        </article>

        <article id="exp" class="exp">
            <div class="exp__titulo ">
                <h1>EXPERIENCIA LABORAL</h1>
            </div>

            <div class="exp__experiencias">

                <div class="exp__experiencias__expUno">

                    <div class="exp__experiencias__expUno__trabajo">
                        <h1 class="exp__experiencias__expUno__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expUno__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expUno__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expUno__trabajo">
                        <h1 class="exp__experiencias__expUno__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expUno__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expUno__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expUno__trabajo">
                        <h1 class="exp__experiencias__expUno__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expUno__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expUno__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expUno__trabajo">
                        <h1 class="exp__experiencias__expUno__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expUno__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expUno__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expUno__trabajo">
                        <h1 class="exp__experiencias__expUno__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expUno__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expUno__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                </div>

                <div class="exp__experiencias__expDos">

                    <div class="exp__experiencias__expDos__trabajo">
                        <h1 class="exp__experiencias__expDos__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expDos__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expDos__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expDos__trabajo">
                        <h1 class="exp__experiencias__expDos__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expDos__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expDos__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expDos__trabajo">
                        <h1 class="exp__experiencias__expDos__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expDos__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expDos__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expDos__trabajo">
                        <h1 class="exp__experiencias__expDos__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expDos__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expDos__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expDos__trabajo">
                        <h1 class="exp__experiencias__expDos__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expDos__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expDos__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                </div>

            </div>
        </article>

        <article id="contact" class="contact">
            <div class="contact__titulo ">
                <h1> ESCRÍBEME</h1>
            </div>

            <div class="contact__formulario">
                <form action="">
                    <label>NOMBRE
                        <input type="text" placeholder="Jaime Burbano" required></input>
                    </label>
                    <label>CORREO ELECTRÓNICO
                        <input type="email" placeholder="jaime@burbano.com" required></input>
                    </label>
                    <label>CELULAR
                        <input type="number" placeholder="123 456 7890"></input>
                    </label>
                    <label>MENSAJE
                        <textarea type="" placeholder="Hola..." required></textarea>
                    </label>

                    <div class="contact__formulario__botones">
                        <button type="submit">
                            ENVIAR
                        </button>

                        <button type="reset">
                            BORRAR
                        </button>
                    </div>
                </form>

            </div>

            <div class="contact__footer">
                <h1> JAIME BURBANO | 2018</h1>
            </div>
        </article>


    </section>

      <section id="ing" class="desa">

        <article class="general">
            <div class="general__redes">
                <a href="https://www.linkedin.com/in/jaimedburbano/" target="_blank">LINKEDLIN</a>
                <a href="https://www.instagram.com/jaimeburbano/" target="_blank">INSTAGRAM</a>
                <a href="https://www.behance.net/jaime_burb0681" target="_blank" class="">BEHANCE</a>
            </div>

            <div class="general__idioma">
                <button id="espanol" class="general__idioma__btn general__idioma__btn__active"> SPANISH</button>
                <button id="ingles" class="general__idioma__btn"> ENGLISH</button>
            </div>

            <div class="general__navegacion desaparecer" id="nav">
                <a class="general__navegacion__link general__navegacion__inicio" id="btn_nav_home" href="#home">
                    <div id="scrollButton" class="general__navegacion__link__nombre">HOME</div>
                    <div class="general__navegacion__link__punto"></div>
                </a>

                <a class="general__navegacion__link general__navegacion__habilidades" id="btn_nav_skills" href="#skills">
                    <div class="general__navegacion__link__nombre"> SKILLS</div>
                    <div class="general__navegacion__link__punto"></div>
                </a>

                <a class="general__navegacion__link general__navegacion__portafolio" id="btn_nav_port" href="#portfolio">
                    <div class="general__navegacion__link__nombre">PORTFOLIO</div>
                    <div class="general__navegacion__link__punto"></div>
                </a>

                <a class="general__navegacion__link Ngeneral__nvegacion__experiencia" id="btn_nav_exp" href="#exp">
                    <div class="general__navegacion__link__nombre">EXPERIENCE</div>
                    <div class="general__navegacion__link__punto"></div>
                </a>

                <a class="general__navegacion__link general__navegacion__contacto" id="btn_nav_contact" href="#contact">
                    <div class="general__navegacion__link__nombre">CONTACT</div>
                    <div class="general__navegacion__link__punto"></div>
                </a>

            </div>

            <div class="general__hamburguesa">
                <div class="general__hamburguesa__linea"></div>
                <div class="general__hamburguesa__linea"></div>
                <div class="general__hamburguesa__linea"></div>
            </div>

            <div class="general__menuRes">

                <div class="general__menuRes__titulo ">
                    <h1>MENU</h1>
                </div>

                <a href="#home" class="general__menuRes__link">HOME</a>
                <a href="#skills" class="general__menuRes__link">SKILLS</a>
                <a href="#portfolio" class="general__menuRes__link">PORTFOLIO</a>
                <a href="" class="general__menuRes__link">EXPERIENCE</a>
                <a href="#contact" class="general__menuRes__link">CONTACT</a>

                <div class="general__menuRes__logo">
                    <img src="image/logo.svg" alt="" srcset="">
                    <h1>JAIME BURBANO</h1>

                </div>
            </div>

        </article>


        <article id="home" class="home">
            <div class="home__menu">
                <a href="#home" class="home__menu__link">HOME</a>
                <a href="#skills" class="home__menu__link">SKILLS</a>
                <a href="#portfolio" class="home__menu__link">PORTFOLIO</a>
                <a href="#exp" class="home__menu__link">EXPERIENCE</a>
                <a href="#contact" class="home__menu__link">CONTACT</a>
            </div>

            <div class="home__about">
                <div class="home__about__logo" id="img_logo">
                    <img src="image/logo.svg" alt="" srcset="" class="home__about__logo__img">
                </div>
                <div class="home__about__text">
                    <h1 class="home__about__text__nombre"> JAIME</h1>
                    <h1 class="home__about__text__apellido"> BURBANO</h1>

                    <p class="home__about__text__about ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere nam, provident eius temporibus dicta
                        accusantium placeat dolorum accusamus doloremque, sit, laudantium odio. Laboriosam facere minus rem
                        delectus quis illum voluptatem.
                    </p>
                </div>


            </div>
        </article>


        <article id="skills" class="skills">
            <div class="skills__titulo ">
                <h1>SKILLS</h1>
            </div>
            <div class="skills__skills">
                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NAME
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NAME
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NAME
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NAME
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NAME
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NAME
                    </div>
                </div>

                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NAME
                    </div>
                </div>
                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NAME
                    </div>
                </div>
                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NAME
                    </div>
                </div>
                <div class="skills__skills__skill">
                    <div class="skills__skills__skill__imagen"></div>
                    <div class="skills__skills__skill__texto">
                        NAME
                    </div>
                </div>

            </div>

        </article>

        <article id="portfolio" class="portfolio">
            <div class="portfolio__titulo ">
                <h1>PORTFOLIO</h1>
            </div>

            <div class="portfolio__menu">
                <a href="" class="portfolio__menu__link portfolio__menu__link__activo">PROJECTS</a>
                <a href="" class="portfolio__menu__link">MOTION GRAPHICS</a>
                <a href="" class="portfolio__menu__link">FRONT DEVELOPMENT</a>
                <a href="" class="portfolio__menu__link">UI - UX DESIGN</a>
                <a href="" class="portfolio__menu__link">PHOTOGRAPHY</a>
                <a href="" class="portfolio__menu__link">BRANDING</a>
            </div>

            <div class="portfolio__menuDos">
                <select>
                    <option value="PROYECTOS" selected>PROJECTS</option>
                    <option value="ANIMACION">MOTION GRAPHICS</option>
                    <option value="DESARROLLO">FRONT DEVELOPMENT</option>
                    <option value="DISENO">UI - UX DESIGN</option>
                    <option value="FOTOGRAFIA">PHOTOGRAPHY</option>
                    <option value="MARCA">BRANDING</option>
                </select>
            </div>

            <div class="portfolio__projects">
                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        TODAY
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        PREX
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        HACIENDA
                        <br /> EL SAMÁN
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        BANNER
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        ARTI
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        COMPARTABLE
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        HACIENDA CAÑASGORDAS
                    </div>
                </a>

                <a href="" class="portfolio__projects__proyecto">
                    <div class="portfolio__projects__proyecto__imagen"></div>
                    <div class="portfolio__projects__proyecto__texto">
                        MOTOBOX
                    </div>
                </a>

            </div>
        </article>

        <article id="exp" class="exp">
            <div class="exp__titulo ">
                <h1>EXPERIENCE</h1>
            </div>

            <div class="exp__experiencias">

                <div class="exp__experiencias__expUno">

                    <div class="exp__experiencias__expUno__trabajo">
                        <h1 class="exp__experiencias__expUno__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expUno__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expUno__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expUno__trabajo">
                        <h1 class="exp__experiencias__expUno__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expUno__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expUno__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expUno__trabajo">
                        <h1 class="exp__experiencias__expUno__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expUno__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expUno__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expUno__trabajo">
                        <h1 class="exp__experiencias__expUno__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expUno__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expUno__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expUno__trabajo">
                        <h1 class="exp__experiencias__expUno__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expUno__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expUno__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                </div>

                <div class="exp__experiencias__expDos">

                    <div class="exp__experiencias__expDos__trabajo">
                        <h1 class="exp__experiencias__expDos__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expDos__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expDos__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expDos__trabajo">
                        <h1 class="exp__experiencias__expDos__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expDos__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expDos__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expDos__trabajo">
                        <h1 class="exp__experiencias__expDos__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expDos__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expDos__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expDos__trabajo">
                        <h1 class="exp__experiencias__expDos__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expDos__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expDos__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                    <div class="exp__experiencias__expDos__trabajo">
                        <h1 class="exp__experiencias__expDos__trabajo__titulo">
                            FECHA 1 - FECHA 2
                        </h1>

                        <p class="exp__experiencias__expDos__trabajo__lugar">
                            Oficina E - Learning | Universidad Icesi
                        </p>

                        <p class="exp__experiencias__expDos__trabajo__cargo">
                            Creación de animaciones y piezas gráficas
                        </p>
                    </div>

                </div>

            </div>
        </article>

        <article id="contact" class="contact">
            <div class="contact__titulo ">
                <h1> ESCRÍBEME</h1>
            </div>

            <div class="contact__formulario">
                <form action="">
                    <label>NOMBRE
                        <input type="text" placeholder="Jaime Burbano" required></input>
                    </label>
                    <label>CORREO ELECTRÓNICO
                        <input type="email" placeholder="jaime@burbano.com" required></input>
                    </label>
                    <label>CELULAR
                        <input type="number" placeholder="123 456 7890"></input>
                    </label>
                    <label>MENSAJE
                        <textarea type="" placeholder="Hola..." required></textarea>
                    </label>

                    <div class="contact__formulario__botones">
                        <button type="submit">
                            ENVIAR
                        </button>

                        <button type="reset">
                            BORRAR
                        </button>
                    </div>
                </form>

            </div>

            <div class="contact__footer">
                <h1> JAIME BURBANO | 2018</h1>
            </div>
        </article>


    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>


    <script src="/js/idioma.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/horario.js"></script>

</body>

</html>