@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i');


$colorPrincipal:#353535;
$colorSecundario:#EFEFEF;

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}

html {
    width: 100%;
    background: $colorSecundario;

}

body {
    background: $colorSecundario;
    font-family: 'Ubuntu', sans-serif;
    display: block;
}

.desa {
    display: none;
}



.general {
    box-sizing: border-box;

    &__redes {
        transform: rotate(-90deg);
        position: fixed;
        left: -62vw;
        top: 50%;
        width: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: flex-start;
        align-items: center;
        display: none;

        a {
            text-decoration: none;
            padding: 10px 15px;
            color: $colorPrincipal;
            font-weight: bold;
            border-radius: 50px;
            transition: all .4s;
        }

        :hover {
            background: $colorPrincipal;
            color: $colorSecundario;
        }
    }

    &__idioma {
        width: min-content;
        display: flex;
        flex-direction: row;
        border: solid 2px $colorPrincipal;
        border-radius: 20px;

        background: $colorSecundario;
        position: fixed;
        right: 0;
        top: 20px;
        margin-right: 5vw;
        margin-top: 2vh;

        &__btn {
            border: none;
            background: none;
            padding: 5px 10px;
            letter-spacing: 0.5px;

            &__active {
                background: $colorPrincipal !important;
                color: $colorSecundario;
                border-radius: 20px;
                font-weight: bold;
            }
        }

        :first-child {
            border-radius: 20px 0 0 20px;
        }

        :nth-child(2) {
            border-radius: 0 20px 20px 0;
        }
    }

    &__navegacion {
        position: fixed;
        right: 40px;
        top: 50vh;
        transition: all .4s;

        &__link {
            text-decoration: none !important;
            margin: 0 0.5px;
            transition: all .4s;
            display: flex;
            color: $colorPrincipal;
            justify-content: flex-end;
            align-items: center;
            margin: 10px 5px;
            border-radius: 20px;
            padding-right: 10px;
            padding-left: 20px;

            &__punto {
                background: $colorSecundario;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                border: solid 2px $colorPrincipal;
            }

            &__nombre {
                margin-left: 10px;
                transform: translateX(40px);
                opacity: 0;
                transition: all .4s;
                text-align: right;
                font-weight: bold;
                font-size: 0.9em;
                padding: 4px;
            }

        }

        .general__navegacion__link:hover {
            background: $colorPrincipal;
            -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);

            .general__navegacion__link__punto {
                background: $colorSecundario;
                opacity: 1;
            }

            .general__navegacion__link__nombre {
                opacity: 1;
                transform: translateX(-10px);
                color: $colorSecundario;

            }
        }

        &__activo {
            .general__navegacion__link {
                background: $colorPrincipal;
                transition: all .4s;
                opacity: 1;


                &__punto {
                    background: $colorPrincipal;
                    transition: all .4s;

                }
            }
        }
    }

   

    &__menuRes {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        transform: translateX(-100vw);
        display: none;



        &__titulo {
            position: absolute;
            top: 200px;

            h1 {
                font-size: 2.5em;
            }
        }

        &__link {
            color: $colorPrincipal;
            font-weight: bold;
            opacity: 1;
            text-decoration: none;
            padding: 10px 20px;
            margin: 20px 0;
            box-sizing: border-box;
            text-align: center;
            border-radius: 50px;
            transition: all .4s;
        }

        &__link:hover {
            background: $colorPrincipal;
            color: $colorSecundario;
        }

        &__logo {
            position: absolute;
            bottom: 20px;

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;

            img {
                width: 30%;
                fill: $colorSecundario;
                background-color: $colorSecundario;
                margin-bottom: 15px;
            }

            h1 {
                font-size: 1em;
                color: $colorPrincipal;
            }
        }
    }

    &__hamburguesa {
        position: absolute;
        top: 40px;
        left: 50px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        box-sizing: border-box;
        background: $colorPrincipal;
        border: solid 1px $colorPrincipal;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        transition: all .3s;
        z-index: 15px;
cursor: pointer;
        &__linea {
            background: $colorSecundario;
            width: 80%;
            height: 4px;
            border-radius: 15px;
            margin: 2px 0;
            transition: all .3s;
        }
    }
    &__hamburguesa:hover{
        cursor: pointer;
    }
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 98.5vw;
    box-sizing: border-box;

    &__menu {
        background: $colorPrincipal;
        position: absolute;
        bottom: 0;
        text-align: center;
        font-weight: bold;
        border-radius: 30px 30px 0 0;
        padding: 15px 0 !important;

        display: flex;
        justify-content: space-around;
        width: 50%;
        min-width: 700px;
        max-width: 900px;

        &__link {
            transition: all .4s;
            color: $colorSecundario;
            opacity: 0.5;
            text-decoration: none;
            transition: all .4s;
        }

        :hover {
            opacity: 1;
        }
    }

    &__about {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: flex-end;
        width: 50%;
        margin: 0 25%;

        &__logo {
            width: 40%;
            margin-right: 75px;
            min-width: 200px;
            max-width: 250px;

            img {
                width: 100%;
            }
        }

        &__text {
            font-size: 3.5em;
            letter-spacing: 20px;
            margin-bottom: 40px;
            width: 60%;

            &__nombre {
                margin: 0;
                font-weight: normal;
                letter-spacing: 25px;
            }

            &__apellido {
                margin: 0;
                font-weight: bold;
            }

            &__about {
                letter-spacing: 0;
                font-size: 16px;
                width: 100%;
                max-width: 500px;
                text-align: justify;
            }
        }
    }
}

.skills {
    width: 98.5vw;
    height: min-content;
    padding-top: 120px;
    box-sizing: border-box;
    height: min-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__titulo {
        text-align: center;
        margin-bottom: 150px;

        h1 {
            margin: 0;
            font-weight: bold;
            font-size: 2.2em;
            letter-spacing: 5px;
        }
    }

    &__skills {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin: 0 25%;
        box-sizing: border-box;
        flex-wrap: wrap;

        &__skill {
            width: 200px;
            display: flex;

            flex-direction: column;
            align-items: center;
            margin-bottom: 150px;

            &__imagen {
                width: 95px;
                height: 95px;
                background: $colorPrincipal;
                border-radius: 100px;
                opacity: .5;
                transition: all .4s;
            }

            &__texto {
                font-weight: bold;
                margin-top: 20px;
                opacity: .6;
                text-align: center;
                transition: all .4s;

            }

        }

        .skills__skills__skill:hover {
            .skills__skills__skill__imagen {
                opacity: 1;
            }

            .skills__skills__skill__texto {
                opacity: 1;
            }
        }
    }
}

.portfolio {
    width: 98.5vw;
    height: min-content;
    padding-top: 120px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__titulo {
        text-align: center;
        margin-bottom: 50px;

        h1 {
            margin: 0;
            font-weight: bold;
            font-size: 2.2em;
            letter-spacing: 5px;
        }
    }

    &__menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;

        width: 60%;
        margin-bottom: 70px;
        border-bottom: solid $colorPrincipal 2px;
        border-radius: 2px;
        padding-bottom: 17px;

        &__link {
            color: $colorPrincipal;
            font-weight: normal;
            text-decoration: none;
            text-align: center;
            padding: 10px 20px;

            &__activo {
                background: $colorPrincipal;
                border-radius: 50px;
                font-weight: bold;
                color: $colorSecundario;
            }
        }
    }

    &__menuDos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
        width: 60%;
        margin-bottom: 70px;
        border-bottom: solid $colorPrincipal 2px;
        border-radius: 2px;
        padding-bottom: 17px;

        select {
            width: 100%;
            border: solid 1px $colorPrincipal;
            border-radius: 50px;
            padding: 10px;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;

            option {
                color: $colorPrincipal;
                font-family: 'Ubuntu', sans-serif;

            }
        }
    }

    &__projects {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        box-sizing: border-box;
        flex-wrap: wrap;

        &__proyecto {
            width: 150px;
            display: flex;

            flex-direction: column;
            align-items: center;
            margin-bottom: 100px;
            color: $colorPrincipal;
            text-decoration: none;

            &__imagen {
                width: 95px;
                height: 95px;
                background: $colorPrincipal;
                border-radius: 100px;
                opacity: .5;
                transition: all .4s;
            }

            &__texto {
                font-weight: bold;
                margin-top: 20px;
                opacity: .6;
                text-align: center;
                transition: all .4s;

            }

        }

        .portfolio__projects__proyecto:hover {
            .portfolio__projects__proyecto__imagen {
                opacity: 1;
            }

            .portfolio__projects__proyecto__texto {
                opacity: 1;
            }
        }
    }
}

.exp {
    width: 98.5vw;
    height: min-content;
    padding-top: 120px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__titulo {
        text-align: center;
        margin-bottom: 50px;

        h1 {
            margin: 0;
            font-weight: bold;
            font-size: 2.2em;
            letter-spacing: 5px;
        }
    }

    &__experiencias {
        //width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        &__expUno,
        &__expDos {

            width: max-content;
            box-sizing: border-box;
            padding: 0 5vw;

            &__trabajo {
                margin: 50px 0;
                text-align: justify;

                p {
                    margin: 5px 0;
                }
            }
        }

        &__expDos {
            border-left: solid 2px rgb(207, 207, 207);
        }
    }
}

.contact {
    width: 98.5vw;
    height: min-content;
    padding-top: 200px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__titulo {
        text-align: center;
        margin-bottom: 150px;

        h1 {
            margin: 0;
            font-weight: bold;
            font-size: 2.2em;
            letter-spacing: 5px;
        }
    }

    &__formulario {
        width: 50%;

        form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            max-width: 500px;

            label {
                display: flex;
                flex-direction: column;
                color: $colorPrincipal;
                font-weight: bold;
                margin: 10px;
                width: 100%;

                input {
                    margin: 8px 0;
                    border: none;
                    background: #d3d3d3;
                    padding: 5px;
                    height: 20px;
                }

                textarea {
                    margin: 8px 0;
                    border: none;
                    background: #d3d3d3;
                    padding: 5px;
                    height: 100px;
                }

            }
        }
    }

    &__footer {
        h1 {
            font-weight: bold;
            color: $colorPrincipal;
            font-size: .8em;
            text-align: center;
            margin-top: 150px;
        }
    }
}

.contact__formulario__botones {
    display: flex;
    flex-direction: row;
    margin-top: 30px;


    button {
        padding: 10px 50px;
        border: solid 1px $colorPrincipal;
        color: $colorPrincipal;
        font-weight: bold;
        border-radius: 50px;
        transition: all .4s;
        margin: 0 30px;
        background: $colorSecundario;
    }

    :hover {
        background: $colorPrincipal;
        color: $colorSecundario;
    }
}


/* Responsive Home*/

//Extra Large XL
@media only screen and (min-width: 1140px) {

    .general {
        &__hamburguesa {
            display: none;
        }
    }

    .home {
        &__about {

            &__logo {
                width: 40%;
            }

            &__text {
                font-size: 3.5em;
                width: 60%;
            }
        }
    }

    .skills {
        &__skills {
            justify-content: space-between;

            &__skill {
                width: 200px;
                margin-bottom: 150px;

            }
        }
    }

    .portfolio {
        &__projects {
            justify-content: space-between;
        }

        &__menuDos {
            display: none;
        }
    }

    .contact {
        &__formulario {
            width: 20%;

            form {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;

                label {
                    width: 100%;
                }
            }
        }

        &__footer {
            h1 {
                margin: 60px 0;
            }
        }
    }
}

@media only screen and (min-width:1140px) and (max-width: 1600px) {
    .contact {

        //background: red;
        &__formulario {
            width: 50%;

            form {
                label {
                    width: 100%;
                }
            }
        }

        &__footer {
            h1 {
                margin: 60px 0;
            }
        }
    }
}


//Large LG
@media only screen and (min-width: 992px) and (max-width:1139px) {

    .general {
        &__hamburguesa {
            display: none;
        }
    }

    .home {
        &__about {

            &__logo {
                width: 30%;
            }

            &__text {
                font-size: 2.8em;
                width: 70%;
                text-align: center;
                margin-top: 20px;

                &__nombre,
                &__apellido {
                    letter-spacing: 15px;
                }
            }
        }
    }

    .skills {

        &__skills {
            justify-content: space-around;

            &__skill {
                width: 160px;
                margin-bottom: 60px;
            }
        }
    }

    .portfolio {
        &__menu {
            display: none;
        }

        &__menuDos {
            display: flex;
        }

        &__projects {
            justify-content: space-between;
        }
    }

    .contact {
        &__formulario {
            width: 50%;

            form {
                label {
                    width: 100%;
                }
            }
        }

        &__footer {
            h1 {
                margin: 60px 0;
            }
        }
    }

}

//Medium
@media only screen and (min-width: 720px) and (max-width:991px) {

    .general {
        &__hamburguesa {
            display: none;
        }
    }

    .home {
        &__menu {
            width: 100%;
        }

        &__about {
            width: 70%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: flex-start;
            align-items: center;

            &__logo {
                width: 30%;
                margin: 0;
                margin-bottom: 60px;
            }

            &__text {
                font-size: 2.8em;
                width: 70%;
                text-align: center;

                &__nombre,
                &__apellido {
                    letter-spacing: 15px;
                }

                &__about {
                    margin-top: 15px;
                }

            }
        }
    }

    .skills {
        &__skills {
            justify-content: space-between;

            &__skill {
                width: 160px;
                margin-bottom: 60px;

            }
        }
    }

    .portfolio {
        &__menu {
            display: none;
        }

        &__menuDos {
            display: flex;
        }

        &__projects {
            justify-content: space-between;
        }
    }

    .exp {
        &__experiencias {


            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space;
            align-items: center;
            align-content: center;


            &__expUno,
            &__expDos {
                border: none;
                padding: 0;

                &__trabajo {
                    margin: 0;
                    margin-bottom: 35px;
                }
            }
        }
    }

    .contact {
        &__formulario {
            width: 50%;

            form {
                label {
                    width: 100%;
                }
            }
        }
    }

    .contact__formulario__botones {
        display: flex;
        flex-direction: row;
        margin-top: 30px;


        button {
            padding: 10px 30px;
            margin: 0 20px;

        }
    }
}

@media only screen and (min-width: 720px) and (max-width:965px) {
    .exp {
        &__experiencias {


            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space;
            align-items: center;
            align-content: center;


            &__expUno,
            &__expDos {
                border: none;
                padding: 0;

                &__trabajo {
                    margin: 0;
                    margin-bottom: 35px;
                }
            }
        }
    }

}


//Small
@media only screen and (min-width: 576px) and (max-width:719px) {

    .general {
        &__redes {
            display: none;
        }

        &__idioma {
            display: none;
        }

        &__navegacion {
            display: none;
        }

        &__hamburguesa {
            display: flex;
        }
    }

    .home {
        &__menu {
            display: none;
        }

        &__about {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: flex-start;
            align-items: center;

            &__logo {
                width: 20%;
                margin: 0;
                margin-bottom: 60px;

                img {
                    width: 100%;
                }
            }

            &__text {
                font-size: 2.4em;
                width: 80%;
                margin: 0 10%;
                text-align: center;

                &__nombre,
                &__apellido {
                    letter-spacing: 15px;
                }

                &__about {
                    //  margin: 0 4%; 
                    margin-top: 15px;

                }

            }
        }
    }

    .skills {

        &__skills {
            justify-content: space-between;
            width: 66%;
            margin: 0 15%;
            box-sizing: border-box;

            &__skill {
                width: 120px;
                margin-bottom: 60px;
            }
        }
    }

    .portfolio {
        &__menu {
            display: none;
        }

        &__menuDos {
            display: flex;
        }

        &__projects {
            justify-content: space-between;
            width: 66%;
            margin: 0 15%;

            &__proyecto {
                width: 120px;
                margin-bottom: 60px;
            }
        }
    }

    .exp {
        &__experiencias {


            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space;
            align-items: center;
            align-content: center;


            &__expUno,
            &__expDos {
                border: none;
                padding: 0;

                &__trabajo {
                    margin: 0;
                    margin-bottom: 35px;
                }
            }
        }
    }

    .contact {
        &__formulario {
            width: 80%;

            form {
                label {
                    width: 100%;
                }
            }
        }

        &__footer {
            h1 {
                margin: 60px 0;
            }
        }
    }

    .contact__formulario__botones {
        display: flex;
        flex-direction: row;
        margin-top: 30px;


        button {
            padding: 10px 30px;
            margin: 0 20px;

        }
    }

}

//Extra Small
@media only screen and (max-width: 576px) {

    .general {

        &__redes {
            display: none;
        }

        &__idioma {
            display: none;
        }

        &__navegacion {
            display: none;
        }

        &__hamburguesa {
            display: flex;
        }

    }

    .home {

        &__menu {
            display: none;
        }

        &__about {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: flex-start;
            align-items: center;

            &__logo {
                width: 20%;
                margin: 0;
                margin-bottom: 60px;

                img {
                    width: 100%;
                }
            }

            &__text {
                font-size: 2.4em;
                width: 80%;
                margin: 0 10%;
                text-align: center;

                &__nombre,
                &__apellido {
                    letter-spacing: 15px;
                }

                &__about {
                    margin-top: 15px;
                }

            }
        }
    }

    .skills {

        &__skills {
            justify-content: center;
            width: 100%;
            margin: 0;
            box-sizing: border-box;

            &__skill {
                width: 150px;
                margin-bottom: 60px;

            }
        }
    }

    .portfolio {
        &__menu {
            display: none;
        }

        &__menuDos {
            display: flex;
        }

        &__projects {
            justify-content: center;
            width: 80%;
            margin: 0 10%;

            &__proyecto {
                width: 150px;
            }
        }
    }

    .exp {
        &__experiencias {


            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space;
            align-items: center;
            align-content: center;


            &__expUno,
            &__expDos {
                border: none;
                padding: 0;

                &__trabajo {
                    margin: 0;
                    margin-bottom: 35px;
                }
            }
        }
    }

    .contact {
        &__formulario {
            width: 85%;

            form {
                label {
                    width: 100%;
                }
            }
        }

        &__footer {
            h1 {
                margin: 60px 0;
            }
        }
    }

    .contact__formulario__botones {
        display: flex;
        flex-direction: row;
        margin-top: 30px;


        button {
            padding: 10px 50px;
            margin: 0 20px;

        }
    }
}


.desaparecer {
    opacity: 0;
}

#hamburguesa:hover{
    cursor: pointer;
}

.activar_menu{
    transition: all .4s;
    display: flex;
    transform: translateX(0) !important;
}